In [103]:
import numpy as np
import pandas as pd
import re
import string

In [104]:
# TODO: explain why this is okay

processed_transcripts = pd.read_csv('processed_data/transcripts_spacy_formatted.csv').drop(['Unnamed: 0'],axis = 1)
display(processed_transcripts)

                                                   Text  Coherence
0     3,000 years have I been fighting. Every mornin...          3
1     “Dad, you're on TV again !” I heard Eric's voi...          4
2     When Tyler entered the ward, his daughter Vale...          4
3     His body was failing. He had taken care of it ...          4
4     I saw the button. It was simple, red, no words...          5
...                                                 ...        ...
1534  The human body is an amazing thing. It is able...          3
1535  Once upon a time, a young woman broke her vase...          4
1536  Once upon a time, two beautiful diamonds and a...          3
1537  Lora and her team had been searching for the l...          5
1538  A microbiologist works in a lab, analyzing the...          5

[1539 rows x 2 columns]

In [105]:
coherence_processed_transcripts = processed_transcripts.copy()
for i in processed_transcripts.index:
    story_string = processed_transcripts['Text'].iloc[i]
    story_string_replaced = re.sub(r'[^A-Za-z0-9\s]', '', story_string)
    story_string_replaced = re.sub(r' +|\n', ' ', story_string_replaced)
    coherence_processed_transcripts.loc[i,'Text'] = story_string_replaced

display(coherence_processed_transcripts)

                                                   Text  Coherence
0     3000 years have I been fighting Every morning ...          3
1     Dad youre on TV again I heard Erics voice from...          4
2     When Tyler entered the ward his daughter Valer...          4
3     His body was failing He had taken care of it v...          4
4     I saw the button It was simple red no words on...          5
...                                                 ...        ...
1534  The human body is an amazing thing It is able ...          3
1535  Once upon a time a young woman broke her vase ...          4
1536  Once upon a time two beautiful diamonds and a ...          3
1537  Lora and her team had been searching for the l...          5
1538  A microbiologist works in a lab analyzing the ...          5

[1539 rows x 2 columns]

In [107]:
all_data_frames = []
for i in coherence_processed_transcripts.index:
    story = coherence_processed_transcripts['Text'].iloc[i]
    story_list = []
    word = story.split(' ')
    story_list.extend(word)
    story_list = [item for item in story_list if item != '' '']
    response_data_frame = pd.DataFrame({
                                        'study_id': i,
                                        'group': 'transcripts',
                                        'prompt': 'retell',
                                        'response': story_list
                                        })
    all_data_frames.append(response_data_frame)

concatenated_transcripts = pd.concat(all_data_frames, axis = 0)

display(concatenated_transcripts)

    study_id        group  prompt   response
0          0  transcripts  retell       3000
1          0  transcripts  retell      years
2          0  transcripts  retell       have
3          0  transcripts  retell          I
4          0  transcripts  retell       been
..       ...          ...     ...        ...
85      1538  transcripts  retell        the
86      1538  transcripts  retell      cause
87      1538  transcripts  retell         of
88      1538  transcripts  retell        the
89      1538  transcripts  retell  infection

[315203 rows x 4 columns]

In [108]:
concatenated_transcripts.to_csv('processed_data/transcripts_hoffman_coherence_formatted.txt', sep='\t', index = False, header = False)